.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 0;
}

.card__like-btn {
  background-image: url(../images/Heart.svg);
  background-size: cover;
  border: none;
  background-color: transparent;
  height: 20px;
  width: 23px;
  opacity: 40%;
  margin-left: 8px;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__title {
  color: #212121;
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 413px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__content {
    margin: 12px 0 0;
  }
}
